$base-font-size: 18px;

$primary-soft-red: rgb(254, 120, 103);
$primary-yellow: rgb(250, 212, 0);
$primary-dark-cyan: rgb(37, 86, 75);
$primary-dark-blue: rgb(25, 83, 107);
$primary-moderate-cyan: rgb(69, 140, 126);

$neutral-des-blue: rgb(35, 48, 62);
$neutral-v-gray-blue: rgb(90, 99, 108);
$neutral-d-gray-blue: rgb(129, 132, 152);
$neutral-g-blue: rgb(167, 171, 174);

$white: rgb(255, 255, 255);

$font-primary: 'Fraunces', serif;
$font-secondary: 'Barlow', sans-serif;