$base-font-size: 18px;

$primary-soft-red: hsl(7, 99%, 70%);
$primary-yellow: hsl(51, 100%, 49%);
$primary-dark-cyan: hsl(167, 40%, 24%);
$primary-dark-blue: hsl(198, 62%, 26%);
$primary-moderate-cyan: hsl(168, 34%, 41%);

$neutral-des-blue: hsl(212, 27%, 19%);
$neutral-v-gray-blue: hsl(210, 9%, 39%);
$neutral-d-gray-blue: hsl(232, 10%, 55%);
$neutral-g-blue: hsl(210, 4%, 67%);

$white: hsl(0, 0%, 100%);

$font-primary: 'Fraunces', serif;
$font-secondary: 'Barlow', sans-serif;