header {
    @include flexbox;
    @include flex-center;
    height: 100vh;
    background-image: url('../images/desktop/image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .header-content,
    .icon-holder {
        position: absolute;
    }

    .header-content {
        top: 20%;
        text-align: center;

        h1 {
            color: $white;
            font-size: 2.2rem;
            letter-spacing: 5px;
            text-transform: uppercase;
        }
    }

    .icon-arrow {
        transition: all 0.3s;
    }

    .icon-arrow:hover {
        transform: scale(1.3,1.3)
    }
}

@media screen and (max-width: 767px) {
    header {
        background-image: url('../images/mobile/image-header.jpg');

        .icon-holder {
            top: 55%;
        }

    }
}