.main-nav {
    @include flexbox;
    align-items: center;
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    z-index: 10;
    transition: all 0.4s;
        
    .container {
        align-items: center;

        .navbar {
            @include flexbox;
            margin-left: auto;

            .nav-item {
                font-family: $font-secondary;

                .nav-link {
                    padding: 10px 25px;
                    margin-right: 20px;
                    color: $white;
                    font-size: 0.9rem;
                    border-radius: 25px;
                    transition: all 0.3s;
                }

                .nav-link:hover{
                    border-radius: 0;
                    border-bottom: 5px solid $primary-yellow;
                }

                .contact {
                    margin-right: 0;
                    background: $white;
                    color: #111;
                    font-family: $font-primary;
                    text-transform: uppercase;
                }

                .contact:hover {
                    color: $white;
                    background-color: rgba(255,255,255,0.3);
                }
            }
        }
        
        .menu-icon {
            display: none;
            background: transparent;
            border: none;
            border-radius: none;
        }

    }
}

.nav-bg-blue {
    background-color: rgba(25, 83, 107,0.8);

    .container {

        .navbar {

            .nav-item {

                .nav-link:hover {
                    border-bottom: 5px solid $white;
                }

                .contact {
                    background-color: rgba(255,255,255,0.3);
                    color: $white;
                }

                .contact:hover {
                    border-bottom: 0;
                }

            }
        }
    }
}

@media screen and (max-width: 992px) {
    .main-nav {
      
        .container {

            .navbar {
                display: none;
            }

            .navbar-opened {
                position: absolute;
                top: 90px;
                right: 25px;
                left: 25px;
                display: block;
                padding: 20px;
                background-color: $white;
                text-align: center;

                .nav-item {
                    padding: 20px 0;
                    
                    .nav-link {
                        margin-right: 0;
                        color: $neutral-d-gray-blue;
                    }

                    .contact {
                        background: $primary-yellow;
                    }

                    .nav-link:hover {
                        color: $primary-soft-red;
                        border-bottom: none;
                    }

                    .contact:hover {
                        border-radius: 25px;
                        background-color: rgba(1,1,1,0.7);
                        color: $primary-yellow;
                    }
                }
            }

            .menu-icon {
                margin-left: auto;
                display: block;
                color: $white;
            }
        }
    }
}







