.main-nav {
    @include flexbox;
    align-items: center;
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    z-index: 10;
    
    .container {
        align-items: center;

        .navbar {
            @include flexbox;
            margin-left: auto;
            
            .nav-item {
                font-family: $font-secondary;

                .nav-link {
                    padding: 10px 25px;
                    margin-right: 20px;
                    color: $white;
                    font-size: 0.9rem;
                    border-radius: 25px;
                    transition: all 0.3s;
                }

                .nav-link:hover{
                    color: $primary-dark-cyan;
                }

                #contact {
                    margin-right: 0;
                    background: $white;
                    color: #111;
                    font-family: $font-primary;
                    text-transform: uppercase;
                }

                #contact:hover {
                    background-color: rgba(255,255,255,0.3);
                    color: $white;
                }
            }
        }
        
        .menu-icon {
            display: none;
            background: transparent;
            border: none;
            border-radius: none;
        }

        @media screen and (max-width: 992px) {
            .navbar {
                display: none;
            }

            .navbar-opened {
                position: absolute;
                top: 90px;
                right: 25px;
                left: 25px;
                display: block;
                padding: 20px;
                background-color: $white;
                text-align: center;

                .nav-item {
                    padding: 20px 0;
                    
                    .nav-link {
                        margin-right: 0;
                        color: $neutral-d-gray-blue;
                    }

                    #contact {
                        background: $primary-yellow;
                    }

                    #contact:hover {
                        background-color: rgba(1,1,1,0.7);
                        color: $primary-yellow;
                    }
                }
            }

            .menu-icon {
                margin-left: auto;
                display: block;
                color: $white;
            }
        }
    }
}


